html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: "Nunito", serif;

}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #166C67;
    padding: 10px 20px 0px;
}
.header {
    background-color: #1CB575;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content h1 {
    color: #166C67;
}
.content h2 {
    color: #166C67;
}
.footer {
    background-color: #2DC772;
    min-height: 150px;
    display: flex;
    align-items: center;
}
.footer img {
    margin-right: 15px;
}
.foot {
    color: white;

}
.destaque {
    color: #166C67;
    
}
li a {
    text-decoration: none;
    color: inherit;
}
li a:hover {
    background-color: white;
}
.p1 {
    text-align: center;
}