@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: "Nunito", serif;

}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #166C67;
    padding: 10px 20px 0px;
}
.header {
    background-color: #1CB575;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content h1 {
    color: #166C67;
}
.content h2 {
    color: #166C67;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2DC772;
    min-height: 150px;
    color: white;
}
.footer img {
    width: 120px;
    height: auto;
}
.foot {
    flex: 1;
}
.endereco {
    width: 100%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.endereco p {
    margin: 0;
}
.destaque {
    color: #166C67; 
}
li a {
    text-decoration: none;
    color: inherit;
}
li a:hover {
    background-color: white;
}
.p1 {
    text-align: center;
}
table {
    -webkit-box-shadow: 9px 11px 6px 5px rgba(0,0,0,0.26); 
    box-shadow: 9px 11px 6px 5px rgba(0,0,0,0.26);
    border: solid 1px black;
}
table thead th {
    background-color: lightgreen;
    color: white;
}
table tbody tr:nth-child(even) td {
    background-color: #c72121;
}
table tbody tr:hover td {
    background-color: #e9e9e9;
    cursor: pointer;
    /* Muda a cor do fundo quando o cursor passa por cima de uma linha */
}